<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="./script.js"></script>
  </head>
  <body class="container">
  <h3 class="reset">
    <a target="_blank" href= "https://mutably.herokuapp.com/reset">
      Reset
    </a>
  </h3>
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Mutably API Books</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Books</div>
        <ul class="list-group"></ul>
      </div>
    </div>
    <div class="addColumn">
      <p>Add Book</p>
      <input default="Title" id="title" placeholder="Title">
      <input default="Image" id="image" placeholder="Image">
      <input default="Author" id="author" placeholder="Author">
      <input default="Release Date" id="releaseDate" placeholder="Release Date">
      <input type="submit" id="newBook" value="Add">
    </div>
  </body>
</html>
