<!DOCTYPE html>
<html>
  <head>
    <title>Mutably front-end</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="./script.js"></script>
  </head>
  <body class="container">
  <h3 class="reset">
    <a target="_blank" href= "https://mutably.herokuapp.com/reset">
      Reset
    </a>
  </h3>
    <div class="col-sm-8 col-sm-offset-2">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">Mutably API Books</a>
      </nav>
      <div class="panel panel-default">
        <div class="panel-heading">Books</div>
        <ul class="list-group"></ul>
      </div>
    </div>
    <div class="floating">
      <div class="addForm">
        <p>Add Book</p>
        <input default="Title" id="title" placeholder="Title" required> <br>
        <input default="Image" id="image" placeholder="Image" required> <br>
        <input default="Author" id="author" placeholder="Author" required> <br>
        <input default="Release Date" id="releaseDate" placeholder="Release Date" required> <br>
        <input type="submit" id="newBook" value="Add"> <br>
      </div> <br>
      <div class="editForm">
        <fieldset>
          <legend>Edit Book</legend>
          Title: <br>
            <input id="editTitle"> <br>
          Image: <br>
            <input id="editImage"> <br>
          Author: <br>
            <input id="editAuthor"> <br>
          Release Date: <br>
            <input id="editReleaseDate"><br>
            <input type="submit" id="cancel" value="Cancel"> <br>
        </fieldset>
      </div>
    </div>
  </body>
</html>
