/*Custom styles here*/

.panel panel-default {
  text-align: center;
  overflow-y: scroll;
}

.list-group {
  text-align: center;
  overflow-y: scroll;
}

.floating{
  text-align: center;
  position: fixed;
  left: 80%;
}